/* Navigation Links */
.nav-link {
  position: relative;
  font-weight: 500;
  padding: 0.75rem 1rem;
  transition: all 0.3s ease;
  color: #fff; /* Set default color to white */
}

.nav-link:hover {
  color: #a3b18a; /* Change color on hover */
  transform: translateY(-1px);
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #a3b18a; /* Change underline color */
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Auth Buttons */
.auth-button {
  padding: 0.75rem 1.5rem; /* Increase padding */
  font-weight: 600;
  font-size: 1rem; /* Increase font size */
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.5rem; /* More rounded corners */
  letter-spacing: 0.025em;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.auth-button.login {
  background: transparent;
  border: 2px solid #a3b18a; /* Change border color */
  color: #a3b18a; /* Change text color */
}

.auth-button.login:hover {
  background: #a3b18a; /* Change background color on hover */
  color: #fff;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(100, 181, 246, 0.3);
}

.auth-button.register {
  background: #a3b18a; /* Change background color */
  color: #fff;
  border: 2px solid #a3b18a; /* Change border color */
}

.auth-button.register:hover {
  background: #73937e; /* Darker shade on hover */
  border-color: #73937e;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(33, 150, 243, 0.4);
}

.auth-button.logout {
  background: transparent;
  border: 2px solid #EF5350;
  color: #EF5350;
}

.auth-button.logout:hover {
  background: #EF5350;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 4px 12px rgba(239, 83, 80, 0.3);
}

/* Hotel Name */
.flex-shrink-0 {
}
